<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/comun.css">
    <link rel="stylesheet" href="../public/css/nosotros.css">
    <title>Nosotros</title>
</head>

<body>
    <header>
        <nav>
            <a href="..">
                <img src="../public/assets/img/logo.svg" alt="">
            </a>
            <div>
                <a href="./nosotros.html">Nosotros</a>
                <a href="./viajes.html">Viajes</a>
                <a href="./testimonios.html">Testimonios</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="nosotros">
            <figure><img src="../public/assets/img/destinos_paris_ln.jpg" alt=""></figure>
            <article>
                <h2>Nosotros</h2>
                <p>
                    Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle
                    ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no
                    llamarte Rodrigor.
                </p>
                <p>
                    Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle
                    ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no
                    llamarte Rodrigor.
                </p>
                <p>
                    Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle
                    ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no
                    llamarte Rodrigor.
                </p>
            </article>
        </section>

        <section class="info">
            <article>
                <img src="../public/assets/img/icono_seguridad.svg" alt="">
                <h3>Seguridad</h3>
                <p>Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle
                    ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no
                    llamarte Rodrigor.</p>

            </article>
            <article>
                <img src="../public/assets/img/icono_destinos.svg" alt="" style="margin-bottom: 1.5rem;">
                <h3>Destinos</h3>
                <p>Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle
                    ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no
                    llamarte Rodrigor.</p>

            </article>
            <article>
                <img src="../public/assets/img/icono_precios.svg" alt="" style="margin-bottom: 1.8rem;">
                <h3>Precios</h3>
                <p>Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle
                    ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no
                    llamarte Rodrigor.</p>

            </article>
        </section>
    </main>

    <footer>
        <nav>
            <a href="./nosotros.html">Nosotros</a>
            <a href="./viajes.html">Viajes</a>
            <a href="./testimonios.html">Testimonio</a>
            <p>Todos los derechos reservados - <span></span> </p>
        </nav>
    </footer>

    <script src="../js/hero.js" type="module"></script>
</body>

</html>