<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/comun.css">
    <link rel="stylesheet" href="../public/css/testimonios.css">
    <title>Testimonios</title>
</head>

<body>
    <header>
        <nav>
            <a href="..">
                <img src="../public/assets/img/logo.svg" alt="">
            </a>
            <div>
                <a href="./nosotros.html">Nosotros</a>
                <a href="./viajes.html">Viajes</a>
                <a href="./testimonios.html">Testimonios</a>
            </div>
        </nav>
    </header>

    <main>
        <h2>Testimonios</h2>
        <h3>Lee sobre nuestros clientes y sus experiencias</h3>

        <section class="testimonios">
            <div>
                <article>
                    <img src="./public/assets/img/quote.jpg" alt="">
                    <p>Las mejores vacaciones de mi vida</p>
                    <p class="user">erik</p>
                </article>
                <article>
                    <img src="./public/assets/img/quote.jpg" alt="">
                    <p>Me encanta viajar, por eso viajo, viajantemente</p>
                    <p class="user">carmen</p>
                </article>
                <article>
                    <img src="./public/assets/img/quote.jpg" alt="">
                    <p>Tengro frío, necesito un servidor para calentarme</p>
                    <p class="user">eliseo</p>
                </article>
            </div>
            <h2>Agrega tu testimonio</h2>

            <form action="">
                <label for="">Nombre</label>
                <input type="text" placeholder="Tu nombre">

                <label for="">Correo</label>
                <input type="text" placeholder="Tu correo">

                <label for="">Mensaje</label>
                <textarea placeholder="Tu mensaje"></textarea>

                <input type="submit" value="Enviar Reseña">
            </form>
        </section>
    </main>

    <footer>
        <nav>
            <a href="./nosotros.html">Nosotros</a>
            <a href="./viajes.html">Viajes</a>
            <a href="./testimonios.html">Testimonio</a>
            <p>Todos los derechos reservados - <span></span> </p>
        </nav>
    </footer>

    <script src="../js/hero.js" type="module"></script>
</body>

</html>